@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=PT+Sans&family=Roboto&display=swap');

/* Global */

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Classes */

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px 15px;
}

.button {
    color: white;
    background-color: none;

    border: 1px solid white;
    border-radius: 213742069px;

    text-decoration: none;
    transition-duration: 250ms;
    padding: 10px 15px;
}

.button:hover {
    background-color: white;
    color: #3F3D9F;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 970px;
}

header nav div img {
    height: 30px;
}

nav div {
    font-family: 'ABeeZee';
    user-select: none;
    -webkit-user-select: none;
}

/* Header */

header {
    background: rgb(68,82,170);
    background: radial-gradient(circle, rgba(68,82,170,1) 13%, rgba(63,54,154,1) 100%);

    color: white;
    padding: 30px 100px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    max-width: 970px;
    /* margin: 0 0 100px 0; */
}

#header img {
    height: 500px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card */

.features-card {
    /* margin: 30px 0; */
    padding: 20px;
    width: min(970px, 90vw);
    background-color: white;
    box-shadow: -0px 10px 50px -5px #00000055;
    position: relative;
    top: -50px;
}

.features-card div {
    font-family: 'Roboto';
}

.features-card h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}

.features-card h3 {
    margin-top: 0;
    margin-bottom: 7px;
}

.features-card p {
    font-size: 14px;
    margin: 0;
}

.features-card img {
    width: 75px;
    margin-right: 10px;
}
